article {
    display: grid;
}

.company-information {
    color: white;
    font-size: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company-description-title,
.company-description-text,
.company-details-title {
    padding: 25px 0;
}

.company-description-title,
.company-description-text,
.company-details-title {
    padding-left: 100px;
}

.company-description,
.company-details {
    display: grid;
    padding: 25px 0;
}

.company-description {
    background: var(--color-kerby-blue);
}

.company-description-text {
    margin-top: 0;
    margin-bottom: 30px;
}

.company-profile,
.company-contact-details div {
    background-color: color-mix(in srgb, var(--color-kerby-blue), var(--color-lincoln-blue));
}

.company-profile dt {
    padding-left: 200px;
}

.company-profile div:nth-child(2),
.company-contact-details div:nth-child(2n) {
    background-color: color-mix(in srgb, var(--color-kerby-blue), var(--color-focus-blue));
}

.company-details {
    background-color: var(--color-lincoln-blue);

    display: grid;
    grid-template-rows: auto 1fr;
}

.company-contact-details {
    background-color: var(--color-lincoln-blue);
}

.company-contact-details div {
    grid-template-columns: 200px auto;
    padding-left: 150px;
}

.company-financials-data-other {
    grid-template-columns: repeat(4, 1fr);
}

.company-history-dashboard {
    padding: 50px 0;
}

.company-history-data-other {
    grid-template-columns: repeat(5, 1fr);
}